<div class="row">
  <div class="col-md-12">
    <div>
      <ngx-datatable
        class="material"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="30"
        [scrollbarV]="true"
        (page)="onPage($event)"
      >
        <ngx-datatable-column name="Agente" [width]="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Llamadas Out" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['llamadas_out']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="estado" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['estado']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Duracion" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['duracion']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Login" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['login']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Not Ready Time" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['not_ready_time']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="LoginID" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['loginid']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Extension" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['extension']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ocupacion" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['not_ready_time']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="AHT" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['aht']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Tiempo TT Out" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['tiempo_tt_out']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="AHT" [width]="100">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['aht']"></i>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>
