<div class="flex-container p-5">
  <div class="row">
    <div class="col-md-12">
      <app-component-test></app-component-test>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-md-2">
      <app-card-widget
      inName="Estado Agentes"
      inQuery="select skill_id_01 from agent_skill where agent_id = '125241"
      ></app-card-widget>
    </div>
    <div class="col-md-2" >
      <app-card-widget
      inName="LLamadas Activas"
      inQuery="select skill_id_01 from agent_skill where agent_id = '125241">
    </app-card-widget>
    </div>
    <div class="col-md-2">
      <app-card-widget
      inName="Agentes Ready"
      inQuery="select skill_id_01 from agent_skill where agent_id = '125241">
    </app-card-widget>
    </div>
    <div class="col-md-2">
      <app-card-widget
      inName="Agentes LLamada"
      inQuery="select skill_id_01 from agent_skill where agent_id = '125241">
    </app-card-widget>
    </div>
    <div class="col-md-4">
      <app-card-widget
      inName="Agentes Inactivos"
      inQuery="select skill_id_01 from agent_skill where agent_id = '125241">
    </app-card-widget>
    </div>
  </div>
</div>




